<h2 style="text-align: center;margin-top: 30px;">Detecteur des ponctuations</h2>
<div class="container">
    <form [formGroup]="Form" (ngSubmit)="send()" style="position: relative;margin-left: 320px;top: 40px;">
        <div class="form-group col-md-8">
            <label for="text" class="col-sm-3 col-form-label" style="font-size: large;">Texte</label>
            <div class="col-sm-9">
                <textarea style="width: 450px;height: 100px;" class="form-control" formControlName="text" id="text" placeholder="Veuillez saisir un texte ..."></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary" style="margin-left: 15px;">Lancer la recherche</button>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Le nombre des ponctuations dans ce texte est : {{ponctuations}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

</div>